
.border{
    border:2px solid red;
    
}

.flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
align-items: center;

}
.bg-black{
    background-color: black;
    color: white ;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
padding: 10px;

}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #666; /* Color of the scrollbar thumb */
}

/* For Firefox */
/* Note: Firefox does not support scrollbar-width property yet */
/* So, it's better to leave width as default and just style the colors */

/* Firefox scrollbar track */
html {
    scrollbar-color: #666 #333; /* thumb and track colors */
}
